<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <bean id="student" class="org.genspark.Student">
        <property name="id" value="11"/>
        <property name="name" value="Dirk"/>
        <property name="ph">
            <list>
                <ref bean="phone"/>
            </list>
        </property>
        <property name="add" ref="address"/>
    </bean>

    <bean id="phone" class="org.genspark.Phone">
        <property name="mob" value="123-456-7890"/>
    </bean>

    <bean id="address" class="org.genspark.Address">
        <property name="city" value="Atlanta"/>
        <property name="state" value="Georgia"/>
        <property name="country" value="USA"/>
        <property name="zipcode" value="30311"/>
    </bean>
</beans>